.multi-button {
  display: flex;
  justify-content: center;
}
.multi-button button {
  height: 50px;
  width: 100px;
  font-weight: bold;
  background-color: #c0c0c0;
  color: rgb(7, 7, 7);
  font-size: 1.2rem;
  border: none;
  margin: 2px;
  padding: 0;
}
.multi-button :nth-child(1) {
  border-radius: 20px 0 0 20px;
}
.multi-button :nth-child(4) {
  border-radius: 0 20px 20px 0;
}
button:hover {
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active {
  filter: none;
  transform: scale(0.95);
}

table {
  border: 1px solid;
  border-radius: 10px;
  height: 200px;
  width: 75%;
  margin: auto;
}

table tr {
  border: 1px solid;
}

table tr td {
  border-radius: 10px;
  border: 1px solid;
  width: 50px;
  height: 50px;
}

#txt {
  display: none;
}
.txt_ae {
  display: flex;
  justify-content: center;
}
.v_txt {
  display: block;
  height: 111px;
  width: 312px;
  border-radius: 10px;
}
